@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{
    --cor0: #28a4b4;
    --cor4: #0c0eb6;
    --cor1: #05066e;
    --cor3: #1a1a1a;
    --cor2: #00eeff;
    --cor5: #ffffff;
    --cor6: grey;
    --cor7:rgb(66, 66, 66);
    --cor8: black;
    
    --font-destaque: 'Bebas Neue', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(to right, var(--cor7), var(--cor6), var(--cor7));
}
#nome{ /*display inline block*/
    text-align: center;
    color:  var(--cor0);
    border-radius: 100px;
    font-family: var(--font-destaque);
    font-weight: normal;
    font-size: 5em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.486);
    display: inline-block;
}
#tag-abre > h1{ 
   color: var(--cor0);
   font-size: 70px;
   padding-right: 100px;
}
#tag-fecha > h1{ 
    color: var(--cor0);
    font-size: 70px;
    padding-left: 60px;
 }
nav{
    background-color: var(--cor8);
    padding: 20px;
}
nav > a{
    color:  var(--cor0);
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
    text-decoration: underline;
    background-color: rgba(128, 128, 128);
}
nav >a:hover{
    background-color: rgb(0, 255, 242);
    color:blue;
    padding: 2px;
}
header{
    background-color:  var(--cor3);
    min-height: 110px;
    text-align: auto;
    padding-top: 15px;
    height: 110px;
}
div > h2{
    font-size: 3em;
    padding-left: 10px;
    color:  var(--cor2);
    text-align: center;
    background-image: linear-gradient(to right, rgba(27, 27, 37, 0.671) ,transparent, rgba(27, 27, 37, 0.671));
    border-radius: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.486);
}
img{
    display: block;
    margin: auto;
    border-radius: 20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.582);
}
video{
    display: block;
    margin: auto;
    border-radius: 20px;
}
footer{
    background-color: var(--cor3) ;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer > p > a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer > p > a:hover{
    text-decoration: underline;
    color: blue;
}

body::-webkit-scrollbar{
    width: 12px;         
}
body::-webkit-scrollbar-track{
    background: var(--cor6);      
} 
body::-webkit-scrollbar-thumb{
    background-color: var(--cor0);  
    border-radius: 20px;    
    border: 3px solid var(--cor0); 
}
#sobre{
    padding-left: 354px;
    border-radius: 5px;
}
div > h3{
    font-size: 2em;
    padding-left: 10px;
    color:  var(--cor2);
    text-align: center;
    background-image: linear-gradient(to right,transparent, rgba(27, 27, 37, 0.671),transparent);
    border-radius: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.486);
}
.texto{
    font-size: 1.5em;
    padding-left: 18.7px;
    color:  var(--cor2);
    position: absolute;
    top: 40%;
}
p{
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.486);
}
header > div > h2{
    color:  var(--cor0);
    font-family: var(--font-destaque);
    font-weight: normal;
    font-size: 2.5em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.486);
    padding-left: 90px;
}
header > div{
    display: inline-block;
}
h1{
    margin: 0px;
}

